@import url('https://fonts.googleapis.com/css?family=Acme|Merriweather+Sans');

body {
  background-color: #a239ca;
  font-family: 'Merriweather Sans', sans-serif;
}

#title {
  text-align: center;
  font-size: 250%;
  font-family: 'Acme', sans-serif;
}

.main-section {
  background-color: #e7dfdd;
  margin: 0 10%;
  padding: 15px;
  text-align: center;
}

#description {
  font-size: 150%;
}

.row {
  margin: 15px 0 0 0;
  font-size: 150%;
}

.label {
  display: inline-block;
  width: 40%;
  text-align: right;
  vertical-align: top;
  padding-right: 20px;
}

.label span {
  color: red;
  padding-right: 5px;
}

.form-content {
  display: inline-block;
  width: 48%;
  text-align: left;
}

textarea {
  font-size: 70%;
}

.submit-row {
  margin: 15px;
}

#submit {
  font-size: 100%;
}
